[submodule "metadata"]
	path = metadata
	url = https://github.com/tiki-bar/tiki-ocean-metadata.git
[submodule "data"]
	path = data
	url = https://github.com/tiki-bar/tiki-ocean-data.git
[submodule "catalog"]
	path = catalog
	url = https://github.com/tiki-bar/tiki-ocean-catalog.git
